* {
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
    /* color: white;
    background: #111111; */
}
.site-header {
    background: #0066cc;
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
}
.site-header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 3%;
}
.site-header-top .logo {
    width: 90%;
    margin-bottom: 5px;
}

/* .site-header-text {
    margin-left: 18%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.site-header-text p {
    color: #0066cc;
    font-size: 10px;
}
.site-header-text h2 {
    color: black;
} */

.title-bg {
    width: 100%;
    background: white;
}
.freedial {
    padding: 5px 2%;
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3%;
}
.freedial img {
    width: 50%;
}

.quotation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c2eeff;
    padding: 20px 0;
}
.quotation-button {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotation-button img { 
    width: 100%;
}
.quotation p {
    margin-top: 10px;
    font-size: large;
    width: 85%;
    line-height: 180%;
}

.contents-six {
    list-style: none;
    background: #072d51;
}
.content-one {
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
}
.content-one a {
    width: 95%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    background: #072d51;
}
.content-one img {
    width: 30%;
}
.content-one-text {
    font-size: x-large;
}
.support {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    width: 100%;
}
.support img {
    width: 100%;
}

footer {
    background: #111111;
    color: white;
    width: 100%;
}
footer p {
    font-size: large;
    text-align: center;
    padding: 5px 0;
}

/* .site-header {
    width: 100%;
}
.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    background: white;
}
.site-logo {
    width: 70%;
    background: white;
}
.site-freedial {
    width: 30%;
    background: white;
}
.site-title {
    width: 100%;
}
.quotation {
    width: 100%;
}
.quotation-button img {
    width: 100%;
}
.quotation p {
    width: 90%;
    line-height: 15px;
    font-size: small;
    margin: 0 auto;
   
}
.six-contents {
    width: 100%;
    margin-top: 10px;
}
.three-contents {
    width: 90%;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.three-contents li {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.three-contents li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}
.three-contents li img {
    width: 95%;
}
.three-contents li p {
    font-size: small;
    width: 100%;
    margin: 5px 0;
    text-align: center;
}
footer {
    margin-top: 20px;
}
.footer-top {
    width: 100%;
}
.footer-top img {
    width: 100%;
}
.footer-bottom {
    background: #111111;
    color: white;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom p {
    font-size: small;
} */

/* 便利なサービス */

.banner {
    background: linear-gradient(#55aaff,#0066cc);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner p {
    font-size: xx-large;
    font-weight: bold;
    padding: 5px 0;
}
.main-contents {
    width: 100%;
}
.main-contents h1 {
    padding-top: 20px;
    margin: auto;
    width: 90%;
    font-size: x-large;
}
.main-contents .main-contents-details {
    width: 90%;
    margin: 0 auto;
    font-size: large;
    line-height: 180%;
    padding-bottom: 20px;
}
.main-contents span {
    font-weight: 700;
    color: coral;
}
.main-contents ul {
    list-style: none;
}
.main-service-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    margin: 10px 0;
}
.main-service-content img {
    cursor: pointer;
    width: 90%;
}
.se-detail {
    width: 70%;
    display: none;
}
.se-detail-text {
    font-size: large;
    line-height: 180%;
}
